<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <form>
        <input id="id" type="text" placeholder="아이디" /><br>
        <input id="name" type="text" placeholder="이름" /><br>
        <input id="psword" type="text" placeholder="비밀번호" /><br>
        <input id="confirm-psword" type="text" placeholder="비밀번호 확인" /><br>
        <p id="button">회원가입</p>

        <br><br>

        <a href="/login">
            로그인 바로 가기
        </a>
    </form>
</body>
</body>
</html>